.post-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    flex-direction: column;
}

.post-preview {
    width: 90%;
    border: 1px solid black;
    margin: 15px;
    padding: 5px;
}

.post-preview-header {
    width: 100%;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
}

.post-preview-title {
    text-align: center;
}

.post-preview-footer {
    width: 100%;
    font-size: 0.7rem;
    text-align: end;
}

.post {
    padding: 15px;
}

.post-title {
    text-align: center;
}


.post-img-header {
    overflow: hidden;
    width: 100%; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
    object-position: 50%; 
    }

.post-info {
    display: flex;
    justify-content: space-between;
}

.post-info-l {
    display: flex;
    flex-direction: column;
}

.post-info-r {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.post-author {
    font-size: 0.7rem;
    font-weight: 700;
}

.post-date {
    font-size: 0.7rem;
    font-style: italic;
    margin-left: 20px;
}

.post-category {
    font-size: 0.7rem;
    font-weight: 700;
}

.post-tags {
    margin-left: 20px;
}

.post-content {
    display: block;
    margin-top: 15px;
}

#delete-post-button {
    color: grey;
}

#delete-post-button:hover {
    color: red;
    cursor: pointer;
}