.tag-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 20px;
    background-color: lightgrey;
    width: 90vw;
    padding: 15px;
}

.tag {
    display:flex;
    align-items: baseline;
    /* font-size: 1.25rem; */
}

.addTagBtn {
    text-align: center;
}