.category-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.category {
    display:flex;
    align-items: baseline;
    font-size:1.5rem;
    /* padding:1.5rem; */
    margin: 0;
}

#delete-category-button:hover{
    color: gray;
}

.category_heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}